matplotlib==3.2.2
Pillow==9.3.0
python-dateutil==2.8.1
requests==2.24.0
jupyter==1.0.0
Shapely==1.7.0
more_itertools==8.4.0
beautifulsoup4==4.9.1
psycopg2~=2.7
pyodbc~=4.0
pymssql~=2.1
plotly==5.3.1
medcat==1.2.5
